<form action="productos" method="POST">
    <div>
        <input type="text" name="name" placeholder="Nombre Producto">
        <input type="number" name="price" placeholder="Precio">
        <input type="text" name="route" placeholder="Ruta">
        <button type="submit">Submit</button>
    </div>
    <a href="http://localhost:8000/productos">
        <input type="button" value="Productos Cargados">
    </a>
</form>
